body {
    text-align: center;
    font-family: Helvetica;
    font-weight: lighter;
}

#main {
    margin-left: 10%;
    width: 80%;
    text-align: center;
}

#main h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: lighter;
}

h2 {
    font-weight: lighter;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}
